#title {
    text-align: center;
    width: 100%;
}

form {
    text-align: center;
}

#container {
    width: 90%;
    margin: 0 auto;
    background-color: lightgoldenrodyellow;
    margin-top: 2%;
    height: fit-content;
    border-radius: 25px;
}

.toEach {
    display: inline-block;
    box-sizing: border-box;
    width: 30%;
    text-align: center;
    margin: 0 auto;
}

.block {
    display: block;
    text-align: center;
}

#Notes {
    margin-bottom: 2%;
}

.btn-info {
    width: 30%;
    margin: 0 auto 2% auto;
    box-sizing: border-box;
    border-radius: 10px;
}

.items {
    display: inline-block;
    box-sizing: border-box;
    width: 19%;
    text-align: center;
}

.totals {
    display: inline-block;
    box-sizing: border-box;
    width: 16%;
    text-align: center;
    margin: 2% auto;
}

.navbar, .bg-light {
    background-color: lightskyblue !important;
}

.status {
    box-sizing: border-box;
    display: inline-block;
    justify-content: center;
    margin: 0 auto;
    width: 49%;
    vertical-align: top;
}

#incomplete, #complete {
    text-align: center;
    font-size: 2.5vw;
}

#chex {
    display: unset;
    font-size: 1.5vw;
    text-align: left;
}

input[type=checkbox] {
    float: left;
    margin-right: 2%;
    margin-top: 1%;
    transform: scale(2);
}

h4 {
    background-color: aqua;
    display: block;
}

#b {
    background-color: lightgreen;
    display: flex;
}

#c {
    background-color: lightsteelblue;
    display: flex;
}

#d {
    background-color: pink;
    display: flex;
}

#e {
    background-color: lightskyblue;
    display: flex;
}

#f {
    background-color: lightgoldenrodyellow;
    display: flex;
}

#g {
    background-color: lightseagreen;
    display: flex;
}