#title {
    text-align: center;
}

#container {
    width: 80%;
    margin: 0 auto;
}

.items{
    justify-content: center;
}

.navbar, .bg-light {
    background-color: lightskyblue !important;
}

#a {
background-color: aqua;
display: flex;
}
#b {
background-color:lightgreen;
display: flex;
}
#c {
background-color: lightsteelblue;
display: flex;
}
#d {
background-color: pink;
display: flex;
}
#e {
background-color: lightskyblue;
display: flex;
}
#f {
background-color: lightgoldenrodyellow;
display: flex;
}
#g {
background-color: lightseagreen;
display: flex;
}